<!DOCTYPE html>
<html>
    <head>
        <title>My Awesome Game!</title>
        <style>
            body {
                background-color: #333;
                text-align: center;
            }

            
            #convas {
                background-color: #000;
                margin: auto;
            }
        </style>
        <script>
            ImpactPrefix = 'impact/';
            ClientHost = 'http://localhost:8080';
            // Be sure to change the path below as well!
        </script>
        <script type="text/javascript" src="http://localhost:8080/socket.io/socket.io.js"></script>

        <script type="text/javascript" src="impact/lib/impact/impact.js"></script>
        <script type="text/javascript" src="impact/lib/game/main.js"></script>
    </head>
    <body>
        <canvas id="canvas"></canvas>
    </body>
</html>
